input[type="number"] {
  width: 40px;
}

textarea {
  display: block;
  margin: 20px 0;
  width: 100%;
}

.Builder {
  padding: 20px;
  border: 1px solid red;
}

.Group {
  padding: 20px;
  border: 1px solid blue;
}

.Group:not(:last-child) {
  margin-bottom: 40px;
}

.Question {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid yellow;
}
