.SearchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid grey;
}

.SearchForm__input:not(:last-child) {
  margin-right: 20px;
}

.none {
  color: gray;
}

option {
  color: black;
}
