.Analytics {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 5fr 2fr;
  grid-template-areas: "header header"
                       "pghd   ehr";
  grid-gap: 20px;
  padding: 20px;
  border: 1px solid red;
}

.Analytics__header {
  grid-area: header;
}

.Analytics__pghd, .Analytics__ehr {
  padding: 20px;
  border: 1px solid blue;
}

.Analytics__pghd {
  grid-area: pghd;
}

.Analytics__pghd-charts {
  display: grid;
  justify-items: center;
  align-items: end;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1000px) {
  .Analytics__pghd-charts {
    grid-template-columns: 1fr;
  }
}

.Analytics__ehr {
  grid-area: ehr;
}

.Analytics__ehr-checkboxes {
  padding: 0;
  list-style-type: none;
}
