.Analytics {
  display: grid;
  grid-template-rows: var(--page-header-height) 1fr;
  grid-template-columns: 5fr 2fr;
  grid-template-areas: "header header"
                       "pghd   ehr";
  grid-gap: 20px;
  padding: 20px;
  height: 100%;
  overflow: hidden;
  border: 1px solid red;
}

.Analytics__header {
  grid-area: header;
}

.Analytics__pghd, .Analytics__ehr {
  padding: 20px;
  height: 100%;
  overflow: scroll;
  border: 1px solid blue;
}

.Analytics__pghd {
  grid-area: pghd;
}

.Analytics__focus {
  height: calc(100% - 28px - 20px);
}

.Analytics__pghd-charts {
  display: grid;
  justify-items: center;
  align-items: end;
  grid-auto-rows: calc((100% - 28px - 4% - 4%/2) / 2);
  grid-template-columns: 49% 49%;
  row-gap: 4%;
  column-gap: 2%;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .Analytics__pghd-charts {
    grid-auto-rows: calc(100% - 28px - 4%/2);
    grid-template-columns: 100%;
  }
}

.Analytics__ehr {
  grid-area: ehr;
}
