.Analytics {
  padding: 20px;
  border: 1px solid red;
}

.Analytics__pghd, .Analytics__ehr {
  padding: 20px;
  border: 1px solid blue;
}

.Analytics__pghd-charts {
  display: flex;
  flex-wrap: wrap;
}
