.HeaderNav {
  height: 100%;
}

.HeaderNav__list {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  list-style-type: none;
  border: 1px solid red;
}

.HeaderNav__item {
  margin: 10px 0;
}

.HeaderNav__item:not(:last-child) {
  margin-right: 40px;
}

.HeaderNav__link {
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid black;
}
